
<p>
   <%= User.find(comment.user_id).email %>
  :
  <%= comment.body %>
 </p> 
 <!-- <%= comment.commenter %> 


<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p> 
 
<p>
  <%= link_to 'Destroy Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p> -->